// Sizes
$max-width: 750px;
$avatar-size: 90px;

// Light mode colors
$black: #222222;
$red: #dc3545;
$bg-light: #ffffff;
$border-light: #cccccc;
$code-bg-light: #f8f8f8;

// Dark mode colors
$white: #e8e8e8;
$red-dark: #ff6b7a;
$bg-dark: #1a1a1a;
$border-dark: #444444;
$code-bg-dark: #2d2d2d;
